html{   
    text-decoration: none;
    background-image: linear-gradient(89.5deg, #221513 0.96%, firebrick 88.53%);

}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(89.5deg, #221513 0.96%, firebrick 88.53%);
}
#menu{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: inter;
    height: 8vh;
    position: fixed;
    width: 90%;
    z-index: 1;
}
#menubtn{
    border-radius: 5px;
    padding-left: 0.3%;
    text-align: center;
}
#list-menu {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 3%;
}
#list-menu li{
    letter-spacing: 1px;
    margin-left: 32px;
}   
#list-menu li a{
    text-decoration: none;
    color: white; 
}
.botao{
    background-color:#D9D9D947;
    padding: 9px;
    text-decoration: none;
    color: white;  
    border-radius: 10px; 
    border-color:#f1f1f100;
    font-family: inter;
}
#but-menu {
    display: none;
}
.footer{ 
    color: white;
    background-color: #14131381;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
}
.footerelements{
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 0 50px 20px rgba(0, 0, 0, 0.1);
}
.footerctt{
    font-family: inter;
    padding-left: 17%;
}
.footerdir{
    width: 24%;
    font-family: inter;
    padding-left: 5%;
}
.ouvidoria{
    font-family: inter;
    padding-left: 20%;
}
.container {
    margin-top: 3rem;
    padding: 25px 10%;
    text-align: center;
}
    
.container .heading {
    font-size: 30px;
    padding-bottom: 25px;
    color: #fff;
}
    
.container .image-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 30px;
    
}

@keyframes fadeIn {
    0% {
        transform: scale(0.7) translateY(-10px);
        opacity: 0;
    }
}
.container .image-container .image {
    
    background-color: rgba(255, 255, 255, 0.863);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 370px;
    border-radius: 5px;
    animation: fadeIn 0.2s linear;
    cursor: pointer;
 }
    
.container .image-container .image img {
    height: 380px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}
    
.container .image-container .image:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.521);
       
}
    
.container .image-container .image h3 {
    font-size: 20px;
    color: #2c3e50;
}

    
    
@media (max-width: 768px) {
    .container .image-container {
        display: grid;
        
        
        flex-direction: column;
        padding: 25px 20px;
    }
    .container .image-container .image {
        width: 100%
    }
    }
@media (max-width: 1200px) {
    .container .image-container {
        display: grid;
        grid-template-columns: repeat(2,2fr);
        padding: 25px 20px;
    }
    .container .image-container .image {
        width: 100%;
    }
    }
@font-face {
    font-family: inter;
    color: white;
    src: url(../fonte/Inter-Regular.otf);
}
@media (max-width: 600px) {
    #but-menu {
        display: block;
    }
}
::-webkit-scrollbar{
    width: 10px;
    background-color: firebrick;
}
::-webkit-scrollbar-thumb{
    background-color: #221513;
}